.film-section {
  width: 100vw;
  min-height: 100vh;
  background: #181c24;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.films-header-section {
  background: #23283a;
  padding: 32px 0 0 0;
  border-bottom: 2px solid #ffb40022;
}

.films-movieswatched-section {
  background: #181c24;
  padding: 48px 0 32px 0;
  border-bottom: 2px solid #ffb40022;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.films-slider-section {
  background: #23283a;
  padding: 48px 0 32px 0;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.films-contact-section {
  background: #181c24;
  padding: 32px 0 0 0;
}
