.header {
    width: 100%;
    background-color: #B31942;
    color: gold;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .header-top {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-menu {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  
  /* Lay out the header sections in a row */
  .header-content {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  
  .header-link {
    display: flex;
    align-items: left;
    text-decoration: none;
    color: inherit;
  }
  
  .header-icon {
    margin-right: 0.5rem;
  }

  .header-section a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0A3161;
  }

  .header-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white
  }